html
  head
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    title To-do List
  body.h-screen.flex.justify-center.items-center.bg-gradient-to-r.from-gray-800.via-slate-800.to-cyan-900
    main.w-180.h-110.flex.justify-center.items-center.flex-col
        h1.text-7xl.text-white.mb-10 To do List
        form(action="/add", method="post", class="flex justify-between border w-130 h-10 overflow-hidden rounded-full mb-3")  
            input(type="text", name="inputTask", class="bg-gray-900 p-4 w-full text-white", placeholder="Adicione sua tarefa")
            button(type="submit", class="cursor-pointer w-35 bg-white ") Vamos lá!
        ul.flex.flex-col.gap-2
          each user in users
             li(class="text-white flex justify-between p-4 items-center gap-4 bg-[#242E33] h-10 w-80 border border-[#949FA4] rounded-full")
              span= user.task
              form(action=`/delete/${user.id}`, method="post")
                button(class="bg-[#949FA4] text-[#152025] px-2 w-8 h-8 flex items-center justify-center rounded-full cursor-pointer") 
                  span.fa-solid.fa-trash 